/*MENU*/
.navbar{
	margin-bottom: 0px;
	border-radius:0px;
}
#bs-example-navbar-collapse-1{
	a {
		@include menu;
	}
}
.navbar-default .navbar-brand {
		@include tasty;
}
.fondo{
	background-image: url(../img/frutas-fondo.png);
	width: 100%;
}
.fruit-background{
	margin-top: 250px;
	margin-bottom: 300px;
	h1{
		font-size: $font-size-h1;
		color:	$color-loremipsum;
	}
	span{
		font-size: 14px;
		color:	$color-loremipsum;
	}
}
.btn-default{
	margin-top: 10px;
}
/*Recetas*/
.recetas{
	margin-top: 50px;
	margin-bottom: 30px;
	color: $colo-text-footer;
    font-family: 'Courgette', cursive;
}
.caption, .slide-copy{
	font-family:	'Raleway', sans-serif;
}
/*seccion Banner*/
#slider{
    padding-left: 0px;
    margin-bottom: 0px;
}


#slide-show {
	height: 600px;
	overflow: hidden;
	position: relative;
	max-width: 100%;

	#slider {
		height: 100%;
		width: 100%;

		.slide {

			position:absolute;
			width: 100%;

			img {
				height: 100%;
				width: auto;
			}
		}

	}
}
#prev, #next {
  cursor: pointer;
  max-width: 60px;
  opacity: 0;
  position: absolute;
  top: 45%;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 999;
}

#prev { left: 0; }

#next { right: 0; }

#slider-show:hover #prev, #slider-show:hover #next { opacity: .7; }

.slide-copy {
  background: #777;
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px;
  position: absolute;
}

/*footer*/
#footer-text {
	li{
		display: inline-block;
		a{
			@include foottercolortext;
		}
	}
}
.color-footer{
	background-color: $footer-color;
}
.margin{
	margin-top: 30px;
	margin-bottom: 15px;
}
.icons {
	font-size: 25px;
	padding-left: 60px;
	
}
.fa-facebook-official{
	color: $color-facebook;
}
.fa-twitter-square{
	color: $color-twitter;
}
.fa-instagram{
	color:	$color-instagram;
}
.fondo-footer {
	background-color: $color-fondo;
}