$color-loremipsum: #ffffff;
$font-size-h1: 45px;
$footer-color:	#d8d8d8;
$colo-text-footer:	#87da66;
$color-fondo:	#0b0c13;
$font-size-h1:	40px;
$font-size-h2:	40px;
$color-twitter:	#00aced;
$color-instagram:	#1dcaff;
$colo-text-footer:	#777;
$color-facebook:	#3b5998;
