$color-loremipsum: #ffffff;
$color-menu: #000;
$color-hover-tasty: #367c98; 
$font-size-h1: 45px;
$footer-color:	#e1e9f7;
$colo-text-footer:	#87da66;
$color-fondo:	#0b0c13;
$font-size-h1:	40px;
$font-size-h2:	40px;
$color-twitter:	#00aced;
$color-instagram:	#1dcaff;
$colo-text-footer:	#01b6fe;
$color-facebook:	#3b5998;
